@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
ol {
  list-style-type: none;
  padding: 0;
}
ul {
  list-style-type: square;
  text-align: center;
  list-style-position: inside;
  color: chartreuse;
  line-height: 1.6;
  /* list-style-image: url("../img/checkmark.jpg");
  list-style: square url("../img/checkmark.jpg")
  inside; */
}
ul li:nth-child(2) {
  color: red;
}
ul ::marker {
  color: red;
  font-family: fantasy;
  font-size: 1em;
  content: "only one 100 birr>>";
}

/* 
 */
/* input,button{
  font:inherit;
} */

/* .container{
  border: 10px double green;
  font-size: 1.5rem;
  margin: 1.5rem;
  padding: 1.7em;
  outline: 5px solid black ;
  outline-offset: -1px;

  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 2em;
  padding-bottom:  4em;
}
.circle{
  margin:2rem auto;
  background-color: red;
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  border-radius: 50px;
  outline: 2px solid rgb(114, 235, 66);
  outline-offset: -5px; 
} */
