@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body{
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.block{
  width: 30vw;
  height: 30vw;
  background-color:grey;
  color: white;
  padding: 1rem;
}
.left{
  float: left;
  margin-right: 1rem;
}
.right{
  float: right;
  margin-left: 1rem;
}
.clear{
  clear: both;
}
section{
  background-color: yellowgreen;
  border: 2px solid #333;
  padding: 1rem;
  display: flow-root;
}
section{
  background-color: yellowgreen;
  border: 2px solid #333;
  padding: 1rem;
  display: flow-root;
}


