@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body{
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
p{
  background-color: lightgreen;
}
.opposite{
  display:inline-block;
  background-color: rgb(224, 230, 173);
  padding: 4rem;
  margin-top: 200px;
  height: 200px;
  padding: 4rem;
}


